.container-order-details{
    width: 100%;
    min-width: var(--screen-md);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: #f7f7f7;
    padding: 30px;
    
}
.order-details{
    
    width: 85%;
    padding: 1.2%;
    background-color: white;    
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.container-order-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-info{
    width: 100%;
    display: flex;
}
.order-info .order-address{
    width: 40%;
    padding: 10px;
    height: 100%;
}
.order-address .title{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.order-address .receiver{
    padding: 6px;
}
.receiver .name{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.receiver .phone, .receiver .address{
    color: #6d6d6d;
    font-size: .9rem;
}
.receiver .phone{
    margin-bottom: 7px;
}
.order-info .delivery{
    width: 60%;
    padding: 10px;
    border-left: 1px solid #c8c8c8;
}
.delivery .van-chuyen{
    text-align: end;
    font-size: .8rem;
    color: #999999;
    margin-bottom: 40px;
}
.delivery-time{
    width: 100%;
}
.delivery-time-items{
    width: 100%;
    display: flex;
    font-size: .9rem;
    color: #4b4b4b;
    margin-bottom: 20px;
}
.delivery-time-items .tron{
    width: 5%;
}
.items-details{
    display: flex;
    width: 95%;
}
.items-details .time{
    width: 25%;
}
.items-details .status{
    width: 75%;
}
.container-product-info{
    width: 100%;

    padding-top: 50px;
}
.product-info{
    width: 100%;
}
.product-items{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
}
.product-items .image{
    width: 10%;
}
.product-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-items .name-description-quantity{
    width: 55%;
    padding-left: 15px;
}
.name-description-quantity .name, .name-description-quantity .quantity{
    width: 100%;
}
.name-description-quantity .name{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.name-description-quantity .description{
    width: 50%;
    font-size: .9rem;
    color: #6d6d6d;
    margin-bottom: 10px;
}
.name-description-quantity .quantity span{
    color: #05acf4;
}
.product-items .price{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.price .price-old{
    width: 50%;
    color: #6d6d6d;
    text-decoration: line-through;
}
.price .price-new{
    width: 50%;
}
.price .price-new span{
    color: #f44905;
}
.container-payment{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.payment{
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #05acf4;
    border-top: 3px solid #05acf4;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #000000;
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}
.payment span{
    color: #e68f0c;
}
.container-price-total{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.price-total{
    width: 35%;
}
.price-total div{
    width: 100%;
    display: flex;
    align-items: center;
    color: #4b4b4b;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.price-total p {
    width: 35%;
}
.price-total span{
    width: 65%;
}
.container-btn-status{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.btn-status{
    width: 45%;
    display: flex;
}
.btn-status form{
    width: 40%;
    height: 40px;
}
.btn-status button{
    height: 100%;
    width: 75%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
#f-cancel button{
   background-color: #f6b398; 
    color: white;
}
#f-delivery button{
    background-color: #05acf4;
    color: white;
}
.btn-status button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}